[submodule "3-1/submodule"]
	path = 3-1/submodule
	url = https://github.com/glfw/glfw.git
[submodule "3-2/submodule"]
	path = 3-2/submodule
	url = https://github.com/glfw/glfw.git
[submodule "4-1/submodule"]
	path = 4-1/submodule
	url = https://github.com/glfw/glfw.git
[submodule "5-1/submodule"]
	path = 5-1/submodule
	url = https://github.com/glfw/glfw.git
[submodule "5-2/submodule"]
	path = 5-2/submodule
	url = https://github.com/glfw/glfw.git
